<a href="https://colab.research.google.com/github/FelipeCherry3/colab-datalake/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy  as np
import os
#
if not os.path.exists('data_lake'):
  os.makedirs('data_lake')

#
num_files = 10
num_rows_per_file =1000

#
dfs = []

#
for i in range(num_files):
  #
  data = {
      'coluna 1' : np.random.randint(0, 100, num_rows_per_file),
      'coluna 2' : np.random.randn(num_rows_per_file),
      'coluna 3' : np.random.choice(['A','B','C'], num_rows_per_file)
  }

#
df = pd.DataFrame(data)

#
file_name = f'data_lake/dados_{i+1}.csv'
df.to_csv(file_name,index=False)

#
dfs.append((file_name,df))

print("Dados do Data Lake gerados com sucesso!")

#
for file_name, df in dfs :
  print(f'\n Dados do Arquivo {file_name}\n')
  print(df.head())

Dados do Data Lake gerados com sucesso!

 Dados do Arquivo data_lake/dados_10.csv

   coluna 1  coluna 2 coluna 3
0        79  0.416476        C
1        78  0.380353        B
2        95 -0.759426        C
3        28  0.726094        B
4        79 -0.064715        B

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

#
conn_string = 'sqlite:///data_lake.db'
engine = create_engine(conn_string)

#
table_name = 'dados_1' #
df = pd.read_sql_table(table_name, engine)

#
print('Primeiras linhas do DataFrame :')
print(df.head())

#
print('Informações do DataFrame : ')
print(df.info())

#
print('Resumo estatistico do DataFrame : ')
print(df.describe())

ValueError: Table dados_1 not found